body {
  margin: 0 auto;
  box-sizing: border-box;
}

#nav-bar {
  display: inline-block;
  width: 100%;
  height: 50px;
  position: relative;
  background: #2a3f54;
  font-family: 'Play', sans-serif;
}
#nav-bar .logo {
  position: relative;
  box-sizing: border-box;
  padding: 10px;
}
#nav-bar .logo .logo-img {
  display: inline-block;
}
#nav-bar .logo .logo-img img {
  width: 35px;
}
#nav-bar .logo .logo-name {
  position: relative;
  top: 5px;
  display: inline-block;
  text-align: justify center;
}
#nav-bar .logo .logo-name h3 {
  margin: 0px;
  text-align: justify center;
  color: #fff;
  font-size: 25px;
}
#nav-bar .navbar-right {
  margin-right: 0px;
  float: right !important;
  margin: 0 auto;
}
#nav-bar .language {
  display: inline-block;
  margin-left: 0px;
  margin-right: 0px;
}
#nav-bar .dropdown {
  display: inline-block;
}
#nav-bar .dropdown button {
  background: #2a3f54;
  display: inline-block;
  color: #9d9d9d;
  border: none;
  box-shadow: none;
}
#nav-bar .dropdown button:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
}
#nav-bar .dropdown .dropdown-menu {
  position: absolute;
  left: -80px;
  border-radius: 0px;
  border: none;
  outline: none;
}
#nav-bar .dropdown .dropdown-menu a:hover {
  background: #9d9d9d;
}
#nav-bar .dropdown .dropdown-menu a .fas {
  margin-left: 80px;
}

#left-menu {
  width: 230px;
  height: calc(100vh + 87px);
  background: #2a3f54;
  color: #9d9d9d;
  font-family: 'Play', sans-serif;
  position: relative;
  display: inline-block;
}
#left-menu .menu-elements {
  position: relative;
  padding: 10px;
}
#left-menu .menu-elements li {
  display: block;
  position: relative;
  box-sizing: border-box;
  padding-left: 20px;
  margin-left: -20px;
  margin-right: -10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  list-style-type: none;
  cursor: pointer;
}
#left-menu .menu-elements li:nth-child(2) {
  background: rgba(0, 0, 0, 0.1);
}
#left-menu .menu-elements li:nth-child(2) i {
  color: #fff;
}
#left-menu .menu-elements li:nth-child(2) a {
  color: #fff;
}
#left-menu .menu-elements li:hover {
  color: #9d9d9d;
  background: rgba(0, 0, 0, 0.2);
}
#left-menu .menu-elements li a {
  text-decoration: none;
  color: #9d9d9d;
}
#left-menu .menu-elements li a span i {
  float: right;
  margin-right: 0px;
  color: #9d9d9d;
  margin-right: 10px;
}
#left-menu .menu-elements li a span i:hover {
  color: #fff;
}
#left-menu .menu-elements li a:hover {
  color: #fff;
}

#member {
  width: calc(100% - 230px);
  padding: 10px;
  padding-bottom: 0px;
  display: inline-block;
  position: absolute;
  top: 45px;
  margin-left: -4px;
  font-family: 'Play', sans-serif;
  padding-bottom: 10px;
  margin: 0 auto;
}
#member .head-page {
  margin: 0 auto;
  height: 50px;
  padding: 10px;
  margin: 0 auto;
  color: #333;
  position: relative;
  background-color: #f5f5f5;
  border: 1px solid lightgray;
  text-align: center;
}
#member .head-page .left {
  float: left;
  margin-left: 0px;
  position: relative;
}
#member .head-page .left i {
  margin-right: 10px;
}
#member .head-page a {
  float: right;
  margin-right: 0px;
  text-decoration: none;
  color: #333;
  position: relative;
}
#member .add-member {
  margin: 0 auto;
  height: 40px;
  padding: 10px;
  background: #2a3f54;
  position: relative;
  margin-top: 20px;
}
#member .add-member .left {
  color: white;
  margin-left: 0px;
  float: left;
  position: relative;
}
#member .add-member .left i {
  margin-right: 10px;
}
#member .add-member .right {
  height: 40px;
  float: right;
  margin-right: 0px;
  background: #6ca500;
  position: relative;
  padding: 8px 15px 4px 20px;
  margin-right: -10px;
  margin-top: -10px;
  cursor: pointer;
}
#member .add-member .right a {
  color: white;
  font-size: 20px;
}
#member .show {
  margin: 0 auto;
  height: 40px;
  padding: 10px;
  position: relative;
  box-sizing: border-box;
  background: #f5f5f5;
  color: #333;
  font-family: 'Play', sans-serif;
}
#member .show .left-elemets {
  float: left;
  margin-left: 0px;
  display: inline-block;
  position: relative;
  color: #555;
}
#member .show .left-elemets select {
  padding: 20px;
  border-radius: 3px;
  border: 1px solid #ccc;
}
#member .show .right-elements {
  float: right;
  margin-right: 0px;
  display: inline-block;
  position: relative;
  margin-top: -25px;
}
#member .show .right-elements input {
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-appearance: searchfield;
  background: #fff;
}
#member .member-table {
  padding: 10px;
  background: #f5f5f5;
}
#member .member-table .table {
  border: 1px solid #ddd;
}
#member .member-table .table .number {
  width: 58px;
  padding: 10px;
  text-align: center;
  color: #333;
  font-size: 14px;
  font-family: 'Glyphicons Halflings';
  cursor: pointer;
}
#member .member-table .table .number span {
  float: left;
  margin-left: 0px;
}
#member .member-table .table .number i {
  margin-top: 5px;
  float: right;
  margin-right: 0px;
  padding-left: 10px;
}
#member .member-table .table .id {
  width: 78px;
  padding: 10px;
  text-align: center;
  color: #333;
  font-size: 14px;
  font-family: 'Glyphicons Halflings';
  cursor: pointer;
}
#member .member-table .table .id span {
  float: left;
  margin-left: 0px;
}
#member .member-table .table .id i {
  float: right;
  margin-right: 0px;
  margin-top: 5px;
  padding-left: 10px;
}
#member .member-table .table .photo {
  width: 87px;
  padding: 10px;
  text-align: center;
  color: #333;
  font-size: 14px;
  font-family: 'Glyphicons Halflings';
  cursor: pointer;
}
#member .member-table .table .photo span {
  float: left;
  margin-left: 0px;
}
#member .member-table .table .photo i {
  float: right;
  margin-right: 0px;
  margin-top: 5px;
  padding-left: 10px;
}
#member .member-table .table .name {
  width: 194px;
  padding: 10px;
  text-align: center;
  color: #333;
  font-size: 14px;
  font-family: 'Glyphicons Halflings';
  cursor: pointer;
}
#member .member-table .table .name span {
  float: left;
  margin-left: 0px;
}
#member .member-table .table .name i {
  float: right;
  margin-right: 0px;
  margin-top: 5px;
  padding-left: 10px;
}
#member .member-table .table .adress {
  width: 205px;
  padding: 10px;
  text-align: center;
  color: #333;
  font-size: 14px;
  font-family: 'Glyphicons Halflings';
  cursor: pointer;
}
#member .member-table .table .adress span {
  float: left;
  margin-left: 0px;
}
#member .member-table .table .adress i {
  float: right;
  margin-right: 0px;
  margin-top: 5px;
  padding-left: 10px;
}
#member .member-table .table .phone {
  width: 124px;
  padding: 10px;
  text-align: center;
  color: #333;
  font-size: 14px;
  font-family: 'Glyphicons Halflings';
  cursor: pointer;
}
#member .member-table .table .phone span {
  float: left;
  margin-left: 0px;
}
#member .member-table .table .phone i {
  float: right;
  margin-right: 0px;
  margin-top: 5px;
  padding-left: 10px;
}
#member .member-table .table .email {
  font-family: 'Glyphicons Halflings';
  width: 195px;
  padding: 10px;
  text-align: center;
  color: #333;
  font-size: 14px;
  cursor: pointer;
}
#member .member-table .table .email span {
  float: left;
  margin-left: 0px;
}
#member .member-table .table .email i {
  float: right;
  margin-right: 0px;
  margin-top: 5px;
  padding-left: 10px;
}
#member .member-table .table .action {
  width: 137px;
  padding: 10px;
  text-align: center;
  color: #333;
  font-size: 14px;
  font-family: 'Glyphicons Halflings';
  cursor: pointer;
}
#member .member-table .table .action span {
  float: left;
  margin-left: 0px;
}
#member .member-table .table .action i {
  float: right;
  margin-right: 0px;
  margin-top: 5px;
  padding-left: 10px;
}
#member .member-table .table td {
  padding: 8px;
  overflow: hidden;
  box-sizing: content-box;
  color: #333;
  font-size: 14px;
}
#member .member-table .table td img {
  height: 35px;
  width: 30px;
}
#member .member-table .table td button {
  outline: none;
  cursor: pointer;
  float: left;
  box-sizing: border-box;
  text-align: center;
  border-radius: 3px;
  border: none;
  background: #5bc0de;
  color: #fff;
  margin-left: 3px;
  margin-right: 3px;
}
#member .member-table .table td button:first-child {
  background: #5cb85c;
}
#member .member-table .table td button:first-child a {
  color: #fff;
}
#member .member-table .table td button:first-child:hover {
  background: #4cae4c;
}
#member .member-table .table td button:nth-child(2) {
  background: #31b0d5;
}
#member .member-table .table td button:nth-child(2) a {
  color: #fff;
}
#member .member-table .table td button:nth-child(2):hover {
  background: #269abc;
}
#member .member-table .table td button:last-child {
  background: #337ab7;
}
#member .member-table .table td button:last-child a {
  color: #fff;
}
#member .member-table .table td button:last-child:hover {
  background: #2e6da4;
}
#member .footer-page {
  position: relative;
  margin-top: -10px;
  padding: 10px;
  background-color: #f5f5f5;
  padding-bottom: 50px;
}
#member .footer-page .ftr-left {
  margin-top: 5px;
  padding-right: 10px;
  float: left;
  margin-left: 0px;
}
#member .footer-page .ftr-right {
  margin-top: 5px;
  padding-left: 10px;
  float: right;
  margin-right: 0px;
}
#member .footer-page .ftr-right .number {
  background: #337ab7;
  color: #fff;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: -5px;
  margin-right: -5px;
}
#member .footer-page .ftr-right button {
  text-align: center;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: none;
  outline: none;
  margin: 0px auto;
  cursor: not-allowed;
  margin-right: 0px;
  margin-left: 0px;
}
#member .footer-page .ftr-right button a {
  cursor: not-allowed;
  color: #777;
  text-decoration: none;
}
